anyio==4.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
decorator==5.1.1
distro==1.9.0
ffmpeg-python==0.2.0
future==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
moviepy==2.1.1
numpy==2.2.1
pillow==10.4.0
proglog==0.1.10
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
sniffio==1.3.1
TgCrypto==1.2.5
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
