name: Build and Push Docker Image

on:
  push:
    branches:
      - '**'
    paths:
      - 'src/**'
      - '.github/workflows/docker-publish.yml'
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Docker tags
        id: vars
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "TAGS=${{ vars.DOCKERHUB_REPOSITORY }}:latest,${{ vars.DOCKERHUB_REPOSITORY }}:${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          else
            BRANCH_NAME=$(echo "${{ github.ref }}" | sed 's#refs/heads/##' | sed 's#/#-#g')
            SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
            echo "TAGS=${{ vars.DOCKERHUB_REPOSITORY }}:${BRANCH_NAME}-${SHORT_SHA},${{ vars.DOCKERHUB_REPOSITORY }}:${BRANCH_NAME}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: ${{ env.TAGS }}
